<!DOCTYPE html>
<html>
  <head>
    <title>Tina Mežnarič</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css"
  </head>
  <body>
    <h1>FAKEBOOK</h1>
    <br>
    <p id="search">Search: <input type="text" placeholder="Search by name..."></p>
    <br>
    <h2>Tina Mežnarič</h2>
    <img src="https://media-exp2.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAsOAAAAJDMwNTQwYmM1LTg4YjUtNGM2OC05ZGFmLTI2MmMyNmIyNmM1Mw.jpg"
    height="250" width="250">
    <br>
    <br>
    <div style="text-align:center">
      <button>Add Friend</button>
    </div>
    <br>
    <br>
    <div style="text-align:center">
        <p><strong>City:</strong> Idrija/Ljubljana</p>
        <p><strong>Age:</strong> 27</p>
        <p><strong>Education:</strong> HRM</p>
        <p><strong>Hobbies:</strong></p>
    </div>
    <div class="list">
      <ul><li>Programming.</li><li>Programming..</li><li>Programming...</li></ul>
    </div>
  </body>
  <br>
  <br>
  <div id="contact-me">
    <p><strong>Contact me:</strong>
    <a href="mailto:meznaric.tina@gmail.com">meznaric.tina@gmail.com
    </a></p>
  </div>
  </html>
